<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >

  <title>
    Painel Aprendiz - First Step Dev
  </title>

 <link rel="stylesheet" href="../css/aprendiz.css">

</head>

<body>

  <!-- SIDEBAR -->

  <div class="sidebar">

    <h2>First Step Dev</h2>

    <button onclick="mostrarSecao('tarefas')">
      Tarefas
    </button>
    <button onclick="mostrarSecao('minhasTarefas')">
  Minhas Tarefas
</button>

    <button onclick="mostrarSecao('historico')">
      Histórico
    </button>

    <button onclick="mostrarSecao('pontuacao')">
      Pontuação
    </button>

    <button onclick="mostrarSecao('ranking')">
      Ranking
    </button>

    <button onclick="exit()">
      Sair
    </button>

  </div>

  <!-- CONTEÚDO -->

  <div class="content">

    <!-- TAREFAS -->

    <section id="tarefas" class="section active">

      <h1>Tarefas Disponíveis</h1>

      <div class="cards" id="containerTarefas">

      </div>

    </section>
    <!-- MINHAS TAREFAS -->

<section id="minhasTarefas" class="section">

  <h1>Minhas Tarefas</h1>

  <div
    class="cards"
    id="containerMinhasTarefas"
  >

  </div>

</section>

<!-- MODAL ENTREGA -->

<div
  id="modalEntrega"
  class="modal"
  style="display:none;"
>

  <div class="modal-content">

    <h2>Enviar Resposta</h2>

    <textarea
      id="codigoEntrega"
      placeholder="Descreva sua solução"
    ></textarea>

    <input
      type="text"
      id="githubEntrega"
      placeholder="Link GitHub"
    >

    <button onclick="enviarEntrega()">
      Enviar Entrega
    </button>

    <button onclick="fecharModal()">
      Fechar
    </button>

  </div>

</div>

    <!-- HISTÓRICO -->

    <section id="historico" class="section">

      <h1>Histórico de Tarefas</h1>

      <div class="cards" id="containerHistorico">

      </div>

    </section>

    <!-- PONTUAÇÃO -->

    <section id="pontuacao" class="section">

      <h1>Minha Pontuação</h1>

      <div class="pontuacao-box">

        <p>Pontos acumulados</p>

        <h2 id="pontuacaoValor">
          0
        </h2>

      </div>

    </section>

    <!-- RANKING -->

    <section id="ranking" class="section">

      <h1>Ranking dos Aprendizes</h1>

      <div class="ranking" id="containerRanking">

      </div>

    </section>

  </div>

  <script src="../scripts/aprendiz.js"></script>

</body>
</html>