<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First-Step-Dev</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <nav>
             <div class="logo">
      First Step Dev
    </div>

    <div class="menu">
      <a href="login.html" class="login">Login</a>
      <a href="cadastrar.html" class="register">Cadastrar</a>
    </div>
        </nav>
        </header>


    <footer>

        </footer>
</body>
</html>